.wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: -9px;
    margin-left: -8px;
    overflow: hidden;
    background-color: rgb(32, 31, 31);
}

.wrapper p{
    color: rgb(120, 117, 117);
    position: absolute;
    margin-left: 580px;
    margin-top: 200px;
}