body{
    overflow-x: hidden;
}
#navBar{
    position: fixed;
    z-index: 1;
    margin-top: -10.3%;
}
#userbar{
    width: 105%;
    height: 50px;
    background-color: rgb(250, 247, 247);
    margin-left: -10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 22%);
    display: inline-block;
}
#userName{
    margin-left: 31px;
    margin-top: -6px;
    font-size: 18px;
    font-family: 'Poppins';
    position: absolute;
    font-weight: 600;
    width: 150px;
}
#userMenu{
    width: 25px;
    height: auto;
    position: absolute;
    margin-top: 12px;
    margin-left: 173px;
    transform: rotate(90deg);
}
#userMenu:hover{
    cursor: pointer;
 }
 #sideMenuBar{
     position: absolute;
     width: 200px;
     height: 0vh;
     margin-top: 62px;
     margin-left: -11px;
     background-color: rgb(190, 180, 180);
     border-radius: 10px;
     transition: 2s ease-in-out;
     z-index: 1;
 }
 #sideMenuBarLinks{
    position: absolute;
    margin-top: 160px;
    position: absolute;

}
#sideMenuBarLinks a{
    display: flex;
    margin-top: 50px;
    margin-left: 63px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
}

#profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: -140px;
    position: absolute;
}
#profilepic:hover{
    cursor: pointer;
}
#border:hover{
    cursor: pointer;
}
#camera{
    width: 28px;
    height: auto;
    position: absolute;
    margin-left: 9px;
    margin-top: 7px;
}
#search{
    position: absolute;
    width: 323px;
    height: 30px;
    background-color: rgb(240 235 235);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    margin-top: -45px;
    margin-left: 58%;
    border-radius: 49px;
}
#search p{
    color: rgb(139 132 132 / 90%);
    margin-top: 8px;
    margin-left: 52px;
}
#searchGlass{
    position: absolute;
    margin-top: -38px;
    margin-left: 6px;
    width: 23px;
    height: auto;
}
#icons{
    display: inline-flex;
    flex-direction: row;
    margin-left: 84%;
    margin-top: -52px;
    flex-wrap: nowrap;
    position: absolute;
}
#icons img{
    width: 30px;
    height: auto;
    margin-top: 10px;
    margin-left: 29px;
}









#sp_info{
    display: flex;
    flex-direction: column;
    margin-top: 11%;
}
 #spImg{
    height: 200px;
    width: 636px;
    position: absolute;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
#spImg img{
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    max-height: 200px;
    object-fit: cover;
}


#pack_info{
    margin-top: -2.5%;
    margin-left: -23%;
}

#pack_name{
 /* position: absolute; */
 margin-top: 3%;
 margin-left: 49%;
 font-family: 'Poppins';
 font-size: 36px;
}
#pack_location{
  /* position: absolute; */
  margin-top: -1%;
  margin-left: 49%;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}
#pack_info1{
    /* position: absolute; */
    margin-top: 2%;
    margin-left: 49%;
    width: 400px;
    font-family: 'Poppins';
}

#pack_owner_name{
    /* position: absolute; */
    margin-top: 3%;
    margin-left: 49%;;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
}
#pack_select_hall{
    /* position: absolute; */
    margin-top: 5.5%;
    margin-left: 49%;;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: grey;
}
#halls{
    /* position: absolute; */
    margin-top: 2%;
    margin-left: 37%;
    font-family: 'Poppins';
    text-align: center;
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
    border-radius: 5px;
}


#option_info{
    /* position: absolute; */
    margin-top: 3%;
    margin-left: 35%;
    font-family: 'Poppins';
    font-weight: 400;
    text-align: left;
    width: 350px;
    text-align: center;
}

#hall_payment_info{
  margin-top: 21%;
  margin-left: 60%;
  position: absolute;
  
}

#hall_info,td{
    
    width: 520px;
    height: 40px;
    border :1px solid rgb(172, 166, 166);
    border-collapse: collapse;
    text-align:center;
    /* margin-top: 700px; */
    /* margin-left: 759px; */
    font-family: 'Poppins';

}
th{
    width: 600px;
    height: 40px;
    border :1px solid rgb(77, 76, 76);
    border-collapse: collapse;
    text-align:center;
    margin-top: 700px;
    margin-left: 759px;
    font-family: 'Poppins';
    color: grey;
}
#add_to_cart{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-top: 3%;
    border-radius: 20px;
    /* margin-top: 40px;
    margin-left: 759px; */
    font-family: 'Poppins';
    background-color: #370075;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
#add_to_cart:hover{
    cursor: pointer;
}
#Cancellation_policy{
    /* position: absolute;
    margin-top: 100px;
    margin-left: 759px; */
    position: absolute;
    margin-top: 15%;
    font-family: 'Poppins';
}
#Cancellation_policy ~p{
    position: absolute;
    /* margin-top: 150px;
    margin-left: 759px; */
    margin-top: 20%;
    color: grey;
    font-family: 'Poppins';
}
#Cancellation_policy ~a{
    position: absolute;
    margin-top: 20%;
    margin-left: 59.5%;
    font-family: 'Poppins';
}
#update{
    position: absolute;
}

#sp_id{
    display: none;
}
#pack_id{
    display: none;
} 

#test{
    display: none;
}












/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */


@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
